@model Entidades.Empleado
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Modificar</title>
</head>
<body>
    <div>
        <form action="/Empleado/Modificar" method="post">
            <input type="hidden" name="Id" value="@Model.Id" />
            Nombre: <input type="text" name="Nombre" value="@Model.Nombre" />
            Apellido: <input type="text" name="Apellido" value="@Model.Apellido" />

            <input type="submit" value="Guardar" />
        </form>
    </div>
</body>
</html>
